<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}


  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ensina Code</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'core/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'core/assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'core/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'core/assets/vendor/icofont/icofont.min.css'%}" rel="stylesheet">
  <link href="{% static 'core/assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'core/assets/vendor/animate.css/animate.min.css'%}" rel="stylesheet">
  <link href="{% static 'core/assets/vendor/owl.carousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
  <link href="{% static 'core/assets/vendor/venobox/venobox.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'core/assets/css/style.css'%}" rel="stylesheet">
    {% csrf_token %}

</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="">Ensina Code</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="">Início</a></li>
          <li><a href="#services">Linguagens</a></li>
            <li><a href="#contact">Contato</a></li>
            <li><a href="#about">Sobre Nós</a></li>
          </ul>
      </nav><!-- .nav-menu -->
      <a href="/login" class="get-started-btn scrollto">Login</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Bem Vindo a <span>Ensina Code</span></h2>
              <p class="animate__animated animate__fadeInUp"> Venha aprender e testar seus conhecimentos, sobre as Linguagens de Programação gratuitamente! </p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Ver mais</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Linguagens de Programação</h2>
              <p class="animate__animated animate__fadeInUp">Disponibilizamos questões sobre as mais diversas linguagens, de diferentes paradgimas, desde a mais utilizada no mercado á base das demais</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Ver mais</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Sistema de Ranking</h2>
              <p class="animate__animated animate__fadeInUp">Aprenda, se divirta e ainda compartilhe e compare seu Ranking no Ensina Code, com seus amigos. </p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Ver mais</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">



    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">
        <div class="section-title">
          <h2>Linguagens</h2>
          <p>O que você gostaria de aprender ?</p>
        </div>

        <div class="row">

            {% for linguagen in linguagens %}

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                </svg>
                <i class="bx bx-detail"></i>
              </div>
              <h4><a href="{% url 'url_perguntaDaLinguagem' linguagen.id %}">{{ linguagen.nome }}</a></h4>
              <p> {{ linguagen.descricao }} </p>

            </div>
          </div>

            {% endfor %}

        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contato</h2>
          <p>Entre em Contato.</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Localização:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>ensinacode@contato.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Telefone:</h4>
                <p>+55 87 99999-9999</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="{% static 'core/forms/contact.php'%}" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Seu Nome</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Seu Email</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Motivo</label>
                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Menssagem</label>
                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

         <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Sobre nós</h2>
          <p> A Ensina Code é uma plataforma WEB que oferece aprendizado e avaliação sobre os mais diversos tipos de Linguagens de Programação.</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="{% static 'core/assets/img/about.jpg'%}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Disponível a qualquer hora e em qualquer lugar GRATUITAMENTE!</h3>
            <p class="font-italic">
              Banco de dados atualizado, com uma grande gama de questões, que levam você do nível basíco ao complexo. Com as principais linguagens que o mercado oferece.
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i> Aprenda na WEB em qualquer lugar.</li>
              <li><i class="icofont-check-circled"></i> Continue de onde você parou.</li>
              <li><i class="icofont-check-circled"></i> Mais simples e agrádavel do que nunca.</li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Ensina Code</h3>
      <p>Torne-se um membro de nossa crescente comunidade!</p>
      <div class="copyright">
        &copy; Copyright <strong><span>Ensina Code</span></strong>. Todos os direitos Reservados
      </div>
      <div class="credits">

        Denvolvido por <a href="https://linktr.ee/hakkinen.diniz/">Hakkinen Diniz</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'core/assets/vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'core/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'core/assets/vendor/jquery.easing/jquery.easing.min.js'%}"></script>
  <script src="{% static 'core/assets/vendor/php-email-form/validate.js'%}"></script>
  <script src="{% static 'core/assets/vendor/owl.carousel/owl.carousel.min.js'%}"></script>
  <script src="{% static 'core/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'core/assets/vendor/venobox/venobox.min.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'core/assets/js/main.js'%}"></script>

</body>

</html>